:root {
	--primary: #000000;
    --secundair: #f4f4f4;
	--body: #ffffff;
	--text: #000000;
    --text-secundair: #ffffff;

    --border-radius: 25px;
    --placeholder: #a9a9a9;

	--gap-small: 10px;
	--gap: 15px;
	--gap-large: 25px;
	--gap-larger: 40px;
}